asgiref==3.6.0
Django==4.2
sqlparse==0.4.4
tzdata==2023.3
bleach
django-ckeditor
django-extensions
django-js-asset
django-robots
django-taggit
Pillow
python-decouple
pytz
six
sorl-thumbnail
webencodings
mysqlclient
django_otp