{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load thumbnail %}
{% load blog_tags %}
{% load humanize %}


<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Our blog</h2>
                        <p>Home<span>//</span>blog</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    {% for post in posts %}
                    <article class="blog_item">
                        <div class="blog_item_img">
                            {% thumbnail post.image "750x375" crop="center" as im %}
                            <img class="card-img" src="{{im.url}}" max-width="{{im.width}}"
                                max-height="{{im.height}}" alt="">
                            {% endthumbnail %}
                            <a href="#" class="blog_item_date">
                                <h3>{{post.published_date|date:"d"}}</h3>
                                <p>{{post.published_date|date:"M"}}</p>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="{% url 'blog:single' pid=post.id %}">
                                <h2>{{post.title}}</h2>
                            </a>
                            <p>{{post.summary|safe}}</p>
                            <ul class="blog-info-link">
                                <li><a href="{% url 'blog:author' author_username=post.author.username %}"><i
                                            class="far fa-user"></i>
                                        {{post.author.get_full_name}}</a></li>

                                <li><a href="#"><i class="far fa-comments"></i> {% total_comments pid=post.id %}
                                        Comments</a></li>
                                <li><a href="#">{{post.counted_views|intcomma}}
                                        Views</a> <span class="lnr lnr-eye"></span> </li>
                                {% for cat in post.category.all %}
                                {% if forloop.last %}
                                <li><a href="{% url 'blog:category' cat_name=cat.name %}">{{cat.name}}</a></li>
                                {% else %}
                                <li><a href="{% url 'blog:category' cat_name=cat.name %}">{{cat.name}}</a></li>,
                                {% endif %}

                                {% endfor %}
                            </ul>
                        </div>
                    </article>
                    {% endfor %}
                    {% if posts.has_other_pages %}
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">

                            <!--previous page-->
                            {% if posts.has_previous %}

                            {% if posts.page != 1 %}
                            <li class="page-item">
                                <a href="?page=1" class="page-link" aria-label="First">
                                    <span aria-hidden="true">
                                        <span> First </span>
                                    </span>
                                </a>
                            </li>
                            {% if posts.page != 2 %}
                            <li class="page-item">
                                <a href="?page={{ posts.previous_page_number }}" class="page-link"
                                    aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            {% endif %}

                            {% endif %}
                            <li class="page-item"><a href="?page={{posts.previous_page_number}}"
                                    class="page-link">{{posts.previous_page_number}}</a></li>

                            {% endif %}
                            <!--end of previous page-->

                            <li class="page-item active"><a href="#" class="page-link">{{posts.number}}</a></li>

                            <!--next page-->
                            {% if posts.has_next %}
                            <li class="page-item"><a href="?page={{posts.next_page_number}}"
                                    class="page-link">{{posts.next_page_number}}</a></li>
                            
                            <li class="page-item">
                                <a href="?page={{posts.next_page_number}}" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="?page={{posts.paginator.num_pages}}" class="page-link" aria-label="Last">
                                    <span aria-hidden="true">
                                        <span> Last </span>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            <!--end of next page-->
                        </ul>
                    </nav>
                    {% endif %}

                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    {% include 'blog/widgets/search_widget.html' %}
                    {% category %}
                    {% include 'blog/widgets/blog-ads.html' %}
                    {% latest_posts %}
                    {% include 'blog/widgets/newsletter_widget.html' %}
                    
                </div>
            </div>
        </div>
    </div>
</section>


{% block footer %}
{% endblock %}

{% endblock %}