{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load thumbnail %}
{% load blog_tags %}
{% load humanize %}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Blog single</h2>
                        <p>Home<span>//</span>Blog single</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blog_area single-post-area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="{% static 'img/blog/single_blog_1.png' %}" alt="">
                    </div>
                    <div class="blog_details">
                        <h2>{{post.title}}</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="{% url 'blog:author' author_username=post.author.username %}"><i
                                        class="far fa-user"></i> {{post.author.get_full_name}}</a></li>

                            <li><a href="#"><i class="far fa-comments"></i> {% total_comments pid=post.id %}
                                    Comments</a></li>
                            <li><a href="#"><i class="far fa-eye"></i> {{post.counted_views|intcomma}} Views</a></li>
                            <li><a href="#"><i class="far fa-heart"></i> {{post.counted_likes|intcomma}} Likes</a></li>

                        </ul>
                        <ul class="blog-info-link mt-3 mb-4">
                            {% for cat in post.category.all %}
                            <li><a href="{% url 'blog:category' cat_name=cat.name %}">{{cat.name}}</a></li>
                            {% endfor %}
                        </ul>
                        <p class="excert">
                            {{post.summary|safe}}
                        </p>
                        <p>
                            {{post.content|safe}}
                        </p>
                        <div class="quote-wrapper">
                            <div class="quotes">
                                MCSE boot camps have its supporters and its detractors. Some people do not understand
                                why you
                                should have to spend money on boot camp when you can get the MCSE study materials
                                yourself at
                                a fraction of the camp price. However, who has the willpower to actually sit through a
                                self-imposed MCSE training.

                            </div>
                        </div>
                        <p>
                        <p class="excert">

                            {% if post.audio %}
                            <audio controls>
                                <source src="{{post.audio.url}}" type="audio/mpeg">
                            </audio>
                            {% endif %}
                        </p>
                        </p>
                        <p>
                            {% if post.video %}
                            <video width="320" height="240" controls>
                                <source src="{{post.video.url}}" type="video/mp4">
                            </video>
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <form method="post" action="{% url 'blog:single' pid=post.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="form_id" value="like">
                            <button type="submit"><i class="far fa-heart"></i>&nbsp Like</button>
                        </form>
                        <!-- <a href="{% url 'blog:single' pid=post.id %}" />
                        <button type="submit"><i class="far fa-heart"></i></button>
                        </a> -->
                        <!-- <p class="like-info"> <button><i class="far fa-heart"></i><span
                                    class="align-middle"></span></button> Lily and 4
                            people like this</p> -->
                        <div class="col-sm-4 text-center my-2 my-sm-0">

                        </div>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-telegram"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>

                    <div class="navigation-area">
                        <div class="row">
                            {% if previous_post %}
                            <div
                                class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    {% thumbnail previous_post.image "90x60" crop="center" as im %}
                                    <a href="{% url 'blog:single' previous_post.id %}"><img class="img-fluid"
                                            src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}" alt=""></a>
                                    {% endthumbnail %}
                                </div>
                                <div class="arrow">
                                    <a href="{% url 'blog:single' previous_post.id %}">
                                        <span class="lnr text-white ti-arrow-left"></span>
                                    </a>
                                </div>
                                <div class="detials">
                                    <p>Prev Post</p>
                                    <a href="#">
                                        <h4>{{previous_post.title}}</h4>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            {% if next_post %}
                            <div
                                class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="detials">
                                    <p>Next Post</p>
                                    <a href="{% url 'blog:single' next_post.id %}">
                                        <h4>{{next_post.title}}</h4>
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="{% url 'blog:single' next_post.id %}">
                                        <span class="lnr text-white ti-arrow-right"></span>
                                    </a>
                                </div>
                                <div class="thumb">
                                    {% thumbnail next_post.image "90x60" crop="center" as im %}
                                    <a href="{% url 'blog:single' next_post.id %}"><img class="img-fluid"
                                            src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}" alt=""></a>
                                    {% endthumbnail %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="blog-author">
                    <div class="media align-items-center">
                        <img src="{% static 'img/blog/author.png' %}" alt="">
                        <div class="media-body">
                            <a href="#">
                                <h4>{{post.author}}</h4>
                            </a>
                            <p>Second divided from form fish beast made. Every of seas all gathered use saying you're,
                                he
                                our dominion twon Second divided from</p>
                        </div>
                    </div>
                </div>

                <div class="comments-area">
                    <h4>{{comments|length}} Comments</h4>
                    <div class="comment-list">
                        {% for comment in comments %}
                        
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="{% static 'img/comment/c1.png' %}" alt="">
                                </div>
                                <div class="desc">
                                    
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">{{comment.name}}</a>
                                            </h5>
                                            <p class="date">{{comment.created_date|naturaltime}}</p>
                                        </div>
                                        <!-- <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">reply</a>
                                        </div> -->
                                    </div>
                                    <p class="comment">
                                        {{comment.message}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        {% empty %}
                        <p style="text-align:center">No commnets yet. Be the first one to tell about your
                            thoughts to
                            us!</p>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form class="form-contact comment_form" method="post" action="{% url 'blog:single' pid=post.id %}">
                        <div class="row">
                            {% csrf_token %}

                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="message" cols="30" rows="9"
                                        placeholder="Write Comment"></textarea>
                                </div>
                            </div>
                            <input type="hidden" name="form_id" value="comment">
                            <input type="hidden" name="post" value="{{post.id}}">
                            {% if request.user.is_authenticated %}
                            <input type="hidden" name="name" value="{{request.user.username}}">
                            <h4>as {{request.user.get_full_name}}:</h4>
                            <input type="hidden" name="email" value="{{request.user.email}}">
                            {% else %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="name" type="text" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="email" type="email" placeholder="Email">
                                </div>
                            </div>
                            {% endif %}

                            <!-- <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="website" id="website" type="text"
                                        placeholder="Website">
                                </div>
                            </div> -->
                            <div class="pb-3 pt-3">{{form.captcha}}</div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button button-contactForm">Send Message</button>
                        </div>
                    </form>
                    {% include 'messages.html' %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">

                    {% include 'blog/widgets/search_widget.html' %}
                    {% category %}
                    {% include 'blog/widgets/blog-ads.html' %}
                    {% latest_posts %}
                    {% include 'blog/widgets/tag_cloud_widget.html' %}
                    {% include 'blog/widgets/newsletter_widget.html' %}


                </div>
            </div>
        </div>
    </div>
</section>


{% block footer %}
{% endblock %}

{% endblock %}