{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load thumbnail %}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Recent project</h2>
                        <p>Home <span>//</span>project</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="our_latest_work section_padding">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="section_tittle text-center">
                    <p>recent work</p>
                    <h2>Creative work for client</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                {% for project in projects %}
                <div class="single_work">
                    <div class="row align-items-center">
                        <div class="offset-lg-1 col-lg-4 col-md-6">
                            <div class="single_work_demo">
                                <h5>{{project.type}}</h5>
                                <h3>{{project.title}}</h3>
                                <p>{{project.content|truncatewords:30}}</p>
                                <a href="{% url 'projects:single' pid=project.id %}" class="btn_3">learn more <span
                                        class="flaticon-slim-right"></span> </a>
                            </div>
                        </div>
                        <div class="offset-lg-1 col-lg-6 col-md-6">
                            <div class="demo_img">
                                <a href="{% url 'projects:single' pid=project.id %}">
                                    {% thumbnail project.image "844x505" crop="center" as im %}
                                    <img class="img-fluid" src="{{im.url}}" width="{{ im.width }}"
                                        height="{{ im.height }}" alt="single_project"> </a>
                                        {% empty %}
                                        <p></p>
                                {% endthumbnail %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="single_work">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="demo_img">
                                <img src="{% static 'img/demo/demo_2.png' %}" alt="demo">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single_work_demo">
                                <h5>Mockup design</h5>
                                <h3>Saw i very dominion whose female
                                    was light divided multiply</h3>
                                <p>Place isn't heaven firmament divided shall fruitful bring bring may midst
                                    every a night dry herb. Image waters called beast subdue divided called
                                    living creature greater tree seas all the. Hath multiply female you're
                                    male likeness his made open beast seas living moved, form.
                                    Void stars you our dominion </p>
                                <a href="project_details.html" class="btn_3">learn more <span
                                        class="flaticon-slim-right"></span> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_work">
                    <div class="row align-items-center">
                        <div class="offset-lg-1 col-lg-4 col-md-6">
                            <div class="single_work_demo">
                                <h5>Mockup design</h5>
                                <h3>It under itself day whales waters our divide third brought</h3>
                                <p>Place isn't heaven firmament divided shall fruitful bring bring may midst
                                    every a night dry herb. Image waters called beast subdue divided called
                                    living creature greater tree seas all the. Hath multiply female you're
                                    male likeness his made open beast seas living moved, form.
                                    Void stars you our dominion </p>
                                <a href="project_details.html" class="btn_3">learn more <span
                                        class="flaticon-slim-right"></span> </a>
                            </div>
                        </div>
                        <div class="offset-lg-1 col-lg-6 col-md-6">
                            <div class="demo_img">
                                <img src="{% static 'img/demo/demo_3.png' %}" alt="demo">
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
    {% if projects.has_other_pages %}
    <nav class="blog-pagination justify-content-center d-flex">
        <ul class="pagination">

            <!--previous page-->
            {% if projects.has_previous %}

            {% if projects.page != 1 %}
            <li class="page-item">
                <a href="?page=1" class="page-link" aria-label="First">
                    <span aria-hidden="true">
                        <span> First </span>
                    </span>
                </a>
            </li>
            {% if projects.page != 2 %}
            <li class="page-item">
                <a href="?page={{ projects.previous_page_number }}" class="page-link" aria-label="Previous">
                    <i class="ti-angle-left"></i>
                </a>
            </li>
            {% endif %}

            {% endif %}
            <li class="page-item"><a href="?page={{projects.previous_page_number}}"
                    class="page-link">{{projects.previous_page_number}}</a></li>

            {% endif %}
            <!--end of previous page-->

            <li class="page-item active"><a href="#" class="page-link">{{projects.number}}</a></li>

            <!--next page-->
            {% if projects.has_next %}
            <li class="page-item"><a href="?page={{projects.next_page_number}}"
                    class="page-link">{{projects.next_page_number}}</a></li>

            <li class="page-item">
                <a href="?page={{projects.next_page_number}}" class="page-link" aria-label="Next">
                    <i class="ti-angle-right"></i>
                </a>
            </li>
            <li class="page-item">
                <a href="?page={{projects.paginator.num_pages}}" class="page-link" aria-label="Last">
                    <span aria-hidden="true">
                        <span> Last </span>
                    </span>
                </a>
            </li>
            {% endif %}
            <!--end of next page-->
        </ul>
    </nav>
    {% endif %}
</section>


{% block footer %}
{% endblock %}

{% endblock %}